.qrcode {
    display: flex;
    justify-content: center;
}

/* ─────────────────────────────────────────────────── */
/*         CSS para los colores en los textos          */
/* ─────────────────────────────────────────────────── */
.colorRed{
  color: red;
}

.colorBlue{
  color:  blue;
}

.colorGreen{
  color:  green;
}

.colorYellow{
  color:  yellow;
}


/* ─────────────────────────────────────────────────── */
/*               CSS para el centrado                  */
/* ─────────────────────────────────────────────────── */
#HCenter {
    display: block; 
    margin: 0 auto;
}

#right{
  float: right; /* Hace que la imagen se posicione a la derecha */
  margin-left: 10px; /* Un margen opcional para separar el texto de la imagen */
}

#VCenter{
  display: flex; 
  align-items: center;
}


/* ─────────────────────────────────────────────────── */
/*             Negrita, Cursiva, Subrallado            */
/* ─────────────────────────────────────────────────── */
.textBold{
  font-weight: bold;
}

.textItalic{
  font-style: italic;
}

.textOblique{
  font-style: oblique;
}

.textUnderline{
  text-decoration: underline;
}

.textCenter{
  text-align: center;
}




/* ─────────────────────────────────────────────────── */
/*                Tamaños de Textos                    */
/* ─────────────────────────────────────────────────── */
.font0_5{
  font-size: 0.5rem;
}
.font0_6{
  font-size: 0.6rem;
}
.font0_7{
  font-size: 0.7rem;
}
.font0_8{
  font-size: 0.8rem;
}
.font0_9{
  font-size: 0.9rem;
}
.font1_0{
  font-size: 1.0rem;
}
.font1_1{
  font-size: 1.1rem;
}
.font1_2{
  font-size: 1.2rem;
}
.font1_3{
  font-size: 1.3rem;
}
.font1_4{
  font-size: 1.4rem;
}
.font1_5{
  font-size: 1.5rem;
}
.font1_6{
  font-size: 1.6rem;
}
.font1_7{
  font-size: 1.7rem;
}
.font1_8{
  font-size: 1.8rem;
}
.font1_9{
  font-size: 1.9rem;
}
.font2_0{
  font-size: 2.0rem;
}
.font2_1{
  font-size: 2.1rem;
}
.font2_2{
  font-size: 2.2rem;
}
.font2_3{
  font-size: 2.3rem;
}
.font2_4{
  font-size: 2.4rem;
}
.font2_5{
  font-size: 2.5rem;
}








